.home-banner {
    position: relative;
    padding-top: 134px;
}

.home-banner .mid-container {
    max-width: 1230px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    z-index: 3;
}

.home-banner article {
    max-width: 520px;
    margin: auto;
    text-align: center;
    z-index: 3;
    position: relative;
}

.home-banner .heading {
    font-weight: bold;
    font-family: 'sofia-bold';
    color: white;
    margin-top: 0px;
    line-height: 46px;
    font-size: 38px;
}

.home-banner .img-container {
    text-align: center;
    margin-top: 10px;
}

.home-banner .img-container img {
    margin: auto;
    position: relative;
    z-index: 3;
}

.home-banner .bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#027eac+0,099eae+50,17d7b1+100 */
    background: #027eac; /* Old browsers */
    background: -moz-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #027eac 0%, #099eae 50%, #17d7b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027eac', endColorstr='#17d7b1', GradientType=1); /* IE6-9 */
    top: 0;
}

#particles-js, #particles-js2 {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
}

.t-btn {
    padding: 5px 26px;
    position: relative;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    overflow: hidden;
    z-index: 2;
    background-color: transparent;
    transition: 0.5s ease background-color;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 35px;
}

.t-btn:hover {
    color: #17d7b1;
    position: relative;
    background-color: #fff;
}
