/*sofia-bold*/
@font-face {
    font-family: 'sofia-bold';
    src: url('../fonts/bold/sofia_pro_bold-webfont.eot');
    src: url('../fonts/bold/sofia_pro_bold-webfont.eot?#sofia-bold') format('embedded-opentype'),
    url('../fonts/bold/sofia_pro_bold-webfont.woff2') format('woff2'),
    url('../fonts/bold/sofia_pro_bold-webfont.svg#sofia-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*sofia-light*/
@font-face {
    font-family: 'sofia-light';
    src: url('../fonts/light/SofiaPro-Light.eot');
    src: url('../fonts/light/SofiaPro-Light.eot?#sofia-light') format('embedded-opentype'),
    url('../fonts/light/SofiaPro-Light.otf') format('otf'),
    url('../fonts/light/SofiaPro-Light.woff') format('woff'),
    url('../fonts/light/SofiaPro-Light.ttf') format('ttf'),
    url('../fonts/light/SofiaPro-Light.svg#sofia-light') format('svg');

}

/*sofia-medium*/
@font-face {
    font-family: 'sofia-medium';
    src: url('../fonts/medium/sofia_pro_medium-webfont.eot');
    src: url('../fonts/medium/sofia_pro_medium-webfont.eot?#sofia-bold') format('embedded-opentype'),
    url('../fonts/medium/sofia_pro_medium-webfont.woff2') format('woff2'),
    url('../fonts/medium/sofia_pro_medium-webfont.svg#sofia-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    font-family: 'sofia-bold';
    font-size: 36px;
}

body {

}

.wrapper-holder {
    position: relative;
}

/* section 1 */
header {
    height: auto;
    z-index: 10;
    position: fixed;
    width: 100%;

}

header.bg-color {
    background: #027eac;
    background: -moz-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%);
    background: -webkit-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%);
    background: linear-gradient(to right, #027eac 0%, #099eae 50%, #17d7b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027eac', endColorstr='#17d7b1', GradientType=1);
}

.navbar-inverse {
    background-color: transparent;
    border: 0;
    max-width: 1230px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px auto;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 18px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px 0px;
}

.navbar-inverse .navbar-nav > li > a:after {
    content: "";
    width: 0;
    bottom: 0;
    left: 50%;
    position: absolute;
    background-color: #fff;
    height: 2px;
    transition: all 0.5s ease;
    transform: translate(-50%, 0%);
}

.navbar-inverse .navbar-nav > li > a:before {
    content: "";
    width: 0;
    top: 0;
    right: 50%;
    position: absolute;
    background-color: #fff;
    height: 2px;
    transition: all 0.5s ease;
    transform: translate(50%, 0%);
}

.navbar-inverse .navbar-nav > li > a:hover:after {
    width: 100%;
}

.navbar-inverse .navbar-nav > li > a:hover:before {
    width: 100%;
}

.navbar-brand {
    padding: 5px 15px;
}

ul.dropdown-menu.atom-menu {
    border: 0px;
    border-radius: 7px;
    padding: 60px 40px;
    left: -230%;
    /*transform: translate(-50%, 0%);*/
    width: 808px;
    top: 45px;
}

ul.dropdown-menu.atom-menu:after {
    content: '';
    left: 50%;
    top: -6px;
    position: absolute;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

ul.dropdown-menu.atom-menu li.menu-item {
    display: list-item;
    float: left;
    width: 33.3%;
    text-align: center;
}

ul.dropdown-menu.atom-menu li.menu-btn {
    text-align: center;
    display: inline-block;
    width: 100%;
}

ul.dropdown-menu.atom-menu li.menu-btn a {
    color: #14c9b0;
    font-size: 20px;
    border: 2px solid #14c9b0;
    display: inline-block;
    padding: 4px 39px;
    border-radius: 30px;
    margin-top: 40px;
    transition: all 0.3s ease;
}

ul.dropdown-menu.atom-menu li.menu-btn a:hover {
    color: #fff;
    background-color: #14c9b0;
}

ul.dropdown-menu.atom-menu li.menu-item a {
    white-space: normal;
    font-family: 'sofia-medium';
    color: #213242;
    font-size: 20px;
    padding: 0px 10px;
    margin-top: 25px;
    position: relative;
}

ul.dropdown-menu.atom-menu li.menu-item a:after {
    content: '';
    position: absolute;
    background-color: #e5e5e5;
    height: 60px;
    width: 1px;
    left: 0px;
    top: 0;
}

ul.dropdown-menu.atom-menu li:first-child.menu-item a:after {
    content: none;
}

ul.dropdown-menu.atom-menu li a:hover, ul.dropdown-menu.atom-menu a:focus {
    background-color: #fff;
}

ul.dropdown-menu.atom-menu li.menu-item img {
    background-image: url(../images/menuSprite.png);
    height: 78px;
    margin: 0 auto;
}

ul.dropdown-menu.atom-menu li.menu-item img.isp {
    background-position: 0px 10px;
    width: 83px;
}

ul.dropdown-menu.atom-menu li.menu-item img.hmo {
    background-position: -100px 0px;
    width: 80px
}

ul.dropdown-menu.atom-menu li.menu-item img.msp {
    background-position: 73px 2px;
    width: 74px;
}

.mid-container {
    max-width: 1230px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    z-index: 3;
}

.home-banner {
    position: relative;
    padding-top: 150px;
}

.home-banner article {
    max-width: 580px;
    margin: auto;
    text-align: center;
    z-index: 3;
    position: relative;
}

.home-banner .heading {
    font-weight: bold;
    font-family: 'sofia-bold';
    color: white;
}

.home-banner .img-container {
    text-align: center;
}

.home-banner .img-container img {
    margin: auto;
    position: relative;
    z-index: 3;
}

.home-banner .bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#027eac+0,099eae+50,17d7b1+100 */
    background: #027eac; /* Old browsers */
    background: -moz-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #027eac 0%, #099eae 50%, #17d7b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027eac', endColorstr='#17d7b1', GradientType=1); /* IE6-9 */
    top: 0;
}

#particles-js, #particles-js2 {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
}

.t-btn {
    padding: 5px 26px;
    position: relative;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    overflow: hidden;
    z-index: 2;
    background-color: transparent;
    transition: 0.5s ease background-color;
    z-index: 1;
}

.t-btn:hover {
    color: #17d7b1;
    position: relative;
    background-color: #fff;
}

/* .t-btn:hover:before{ width: 100%;    z-index: -1;} */

.p-btn {
    padding: 5px 26px;
    position: relative;
    font-size: 20px;
    border: 2px solid #17d7b1;
    border-radius: 20px;
    color: #17d7b1;;
    overflow: hidden;
    z-index: 2;
    background-color: transparent;
    transition: 0.5s ease background-color;
    z-index: 1;
}

.p-btn:hover, .p-btn:focus {
    color: #fff;
    position: relative;
    background-color: #17d7b1;
}

/* .t-btn:hover:before{ width: 100%;    z-index: -1;} */

/* Section 2 */
.hardware-section {
}

.hardware-section .mid-container {
    max-width: 1032px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.hardware-section article {
    text-align: center;
}

/* .hardware-section article .heading span{display:block;} */

.hardware-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.hardware-section article .heading {
    color: #14c9b0;
    font-weight: bold;
    margin-top: 0;
}

.hardware-section article .heading .dark-color {
    color: #213242;
    font-family: 'sofia-light';
}

.hardware-section article .heading .element {
    padding-top: 8px;
    font-family: 'sofia-bold';
    font-size: 42px;
}

.hardware-section .tile-container {
    padding-top: 60px;
    display: flex;
    flex-flow: row wrap;
}

.hardware-section .tile-container .col-sm-4 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
}

.hardware-section .tile {
    text-align: center;
    text-align: center;
    padding: 70px 15px;
    border: 3px solid #e0e0e0;
    border-radius: 15px;
    background-color: white;
    transition: all 0.9s ease;
    cursor: pointer;
    height: 348px;
}

.hardware-section .tile:hover {
    border: 3px solid white;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 30px 15px;
}

.hardware-section .tile img {
    margin: auto;
    transition: all 0.9s ease;
    max-width: 100px;
}

.hardware-section .tile:hover img {
    max-width: 25%;
}

.hardware-section .tile .para {
    color: #7d7d7d;
    font-size: 18px;
    font-family: 'sofia-medium';
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.9s ease;
}

.hardware-section .tile:hover .para {
    height: auto;
    overflow: visible;
    opacity: 1;
}

.hardware-section .tile .heading {
    font-family: 'sofia-bold';
    font-size: 24px;
}

.hardware-section .paralla-abs-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50%;
    z-index: -1;
    background-image: url(../images/sm-partial.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*----------------- atom-feature------------- */
.atom-feature {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.mid-container {
    max-width: 1032px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin: auto;
}

.atom-feature article {
    text-align: center;
}

.atom-feature article .heading {
    font-weight: bold;
    font-family: 'sofia-bold';
    font-size: 36px;
}

.atom-feature article .para {
    color: #7d7d7d;
    max-width: 770px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    font-size: 18px;
    font-family: 'sofia-light';
    padding-top: 15px;
}

.atom-feature .paralla-abs-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -40%;
    top: -50%;
    z-index: -1;
    background-image: url(../images/lg-partial.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.atom-feature article .p-btn {
    font-size: 20px;
    margin-top: 50px;
}

.atom-feature .tile-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.atom-feature .tile-container .mid-container2 {
    max-width: 1260px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin: auto;
}

.atom-feature .tile-container .box {
}

.atom-feature .tile-container .tile {
    padding: 40px 30px;
    color: #7c7c7c;
    z-index: 3;
    position: relative;
    overflow: hidden;
    transition: color 0.9s ease;
}

.atom-feature .tile-container .box .bg-gredient {
    position: absolute;
    border-radius: 100%;
    transition: transform 0.9s ease, width 0.9s ease, height 0.9s ease;
    transform: scale(1.5, 3.2);
    width: 10px;
    height: 10px;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.atom-feature .tile-container .tile:hover {
    color: white;
    cursor: pointer;
}

.atom-feature .tile-container .tile:hover .bg-gredient {
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scale(1.5, 3.2);
    background: #027eac;
    background: -moz-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%);
    background: -webkit-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%);
    background: linear-gradient(to right, #027eac 0%, #099eae 50%, #17d7b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027eac', endColorstr='#17d7b1', GradientType=1);
    transition: transform 0.9s ease, width 0.9s ease, height 0.9s ease;

}

.atom-feature .tile-container .tile img {
    margin-right: 13px;
    z-index: 3;
    position: relative;
    background-image: url(../images/40901-atom-feature-sprite.png);
    width: 49px;
    display: inline-block;
    transition: 0s all;
    transition-delay: 0.3s;
}

.atom-feature .tile-container .tile img.sandbox {
    background-position: 0 -482px;
    height: 35px;
}

.atom-feature .tile-container .tile img.anti-virus {
    background-position: 0 -106px;
    height: 35px;
}

.atom-feature .tile-container .tile img.url-filtering {
    background-position: 0 -404px;
    height: 29px;
}

.atom-feature .tile-container .tile img.ad-blocker {
    background-position: 0 0;
    height: 43px;
}

.atom-feature .tile-container .tile img.app-protocol {
    background-position: 0 -294px;
    height: 45px;
}

.atom-feature .tile-container .tile img.ids-ips {
    background-position: 0 -194px;
    height: 40px;
}

.atom-feature .tile-container .tile:hover img.sandbox {
    background-position: 0 -526px;
    height: 35px;
}

.atom-feature .tile-container .tile:hover img.anti-virus {
    background-position: 0 -150px;
    height: 35px;
}

.atom-feature .tile-container .tile:hover img.url-filtering {
    background-position: 0 -443px;
    height: 29px;
}

.atom-feature .tile-container .tile:hover img.ad-blocker {
    background-position: 0 -53px;
    height: 43px;
}

.atom-feature .tile-container .tile:hover img.app-protocol {
    background-position: 0 -349px;
    height: 45px;
}

.atom-feature .tile-container .tile:hover img.ids-ips {
    background-position: 0 -244px;
    height: 40px;
}

.atom-feature .tile-container .tile .heading {
    font-family: 'sofia-medium';
    font-size: 22px;
    z-index: 3;
    position: relative;
}

.atom-feature .tile-container .tile .para {
    font-size: 18px;
    font-family: 'sofia-medium';
    z-index: 3;
    position: relative;
}

/*----------------- atom-for------------- */

.atom-for {
    padding: 80px 0px;
    background-color: #fff;
    background-image: url(../images/dotted-bg.png);
    background-position: 45px 175px;
    background-repeat: no-repeat;
    height: 140vh;
    position: relative;
}

.atom-for article {
    text-align: center;
}

.atom-for .section-heading {
    color: #213242;
    font-family: 'sofia-light';
    font-size: 36px;
    margin-top: 0px;
}

.atom-for .section-heading span {
    font-size: 42px;
    color: #14c9b0;
    font-family: 'sofia-bold';
    display: block;
    margin-top: 4px;
}

.atom-for .scattered-circles {
    position: absolute;
}

/*.atom-for .scattered-circles.circle-center {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    transition: all 0.9s ease;
}*/

.atom-for .scattered-circles.circle1 {
    left: 12%;
    top: 42%;
    transition: all 1.4s ease;
}

.atom-for .scattered-circles.circle2 {
    left: 2%;
    top: 32%;
    transition: all 0.5s ease;
}

.atom-for .scattered-circles.circle3 {
    left: 33%;
    top: 26%;
    transition: all 1s ease;
}

.atom-for .scattered-circles.circle4 {
    left: 45%;
    top: 54%;
    transition: all 1.6s ease;
}

.atom-for .scattered-circles.circle5 {
    left: 57%;
    top: 35%;
    transition: all 0.8s ease;
}

.atom-for .scattered-circles.circle6 {
    left: 66%;
    top: 52%;
    transition: all 1.8s ease;
}

.atom-for .scattered-circles.circle7 {
    left: 70%;
    top: 28%;
    transition: all 1.5s ease;
}

.atom-for .scattered-circles.circle8 {
    left: 27%;
    top: 73%;
    transition: all 0.9s ease;
}

.atom-for .scattered-circles.circle9 {
    left: 83%;
    top: 75%;
    transition: all 1.2s ease;
}

.atom-for .scattered-circles.circle2 .circle-wrapper .circles img {
    width: 54px;
}

.atom-for .scattered-circles.circle3 .circle-wrapper .circles img {
    width: 45px;
}

.atom-for .scattered-circles.circle4 .circle-wrapper .circles img {
    width: 95px;
}

.atom-for .scattered-circles.circle5 .circle-wrapper .circles img {
    width: 54px;
}

.atom-for .scattered-circles.circle6 .circle-wrapper .circles img {
    width: 82px;
}

.atom-for .scattered-circles.circle7 .circle-wrapper .circles img {
    width: 98px;
}

.atom-for .scattered-circles.circle8 .circle-wrapper .circles img {
    width: 64px;
}

.atom-for .scattered-circles.circle9 .circle-wrapper .circles img {
    width: 68px;
}

.atom-for .scattered-circles.circle2 .circle-wrapper .circle-text {
    left: 82px;
    top: 52%;
}

.atom-for .scattered-circles.circle3 .circle-wrapper .circle-text {
    left: 77px;
    top: 64%;
}

.atom-for .scattered-circles.circle5 .circle-wrapper .circle-text {
    left: 90px;
    top: 60%;
}

.atom-for .scattered-circles.circle6 .circle-wrapper .circle-text {
    left: 115px;
    top: 50%;
}

.atom-for .scattered-circles.circle8 .circle-wrapper .circle-text {
    left: 95px;
    top: 50%;
}

.atom-for .scattered-circles.circle9 .circle-wrapper .circle-text {
    left: -268px;
    top: 60%;
}

.atom-for .scattered-circles.active .circle-wrapper .circle-text {
    opacity: 1;
    transform: translate(0%, -50%);
}

.atom-for .scattered-circles.circle9 .circle-wrapper .circle-text:after {
    left: 240px;
    transform: rotate(180deg);
}

.atom-for .scattered-circles .circles {
    border-radius: 50%;
    padding: 3px;
    transition: all 0.9s ease;
    border: 2px solid transparent;
    overflow: hidden;

}

.atom-for .scattered-circles .circles img {
    opacity: 0.4;
}

.atom-for .scattered-circles.active .circles img {
    opacity: 1;
}

.atom-for .scattered-circles:hover .circles img {
    opacity: 1;
}

.atom-for .scattered-circles:hover .circles {
    border-color: #14c9b0;
    overflow: visible;
    opacity: 1;
}

.atom-for .scattered-circles {
    display: none;
}

.atom-for .scattered-circles:hover {
    z-index: 1;
}

.atom-for .scattered-circles.animated {
    display: block;
}

.atom-for .scattered-circles .circle-wrapper .circle-text {
    background-color: #fff;
    padding: 20px 0px 20px 20px;
    box-shadow: 1px 0px 10px 2px rgba(0, 0, 0, 0.09);
    position: absolute;
    left: 132px;
    top: 50%;
    transform: translate(-10%, -50%);
    width: 240px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.atom-for .scattered-circles .circle-wrapper:hover .circle-text {
    opacity: 1;
    transform: translate(0%, -50%);
}

.atom-for .scattered-circles .circle-wrapper {
    display: inline-block;
    padding-right: 40px;
}

.atom-for .scattered-circles .circle-text:after {
    content: '';
    background-image: url(../images/arrow-shaded.png);
    position: absolute;
    left: -22px;
    top: 16px;
    height: 17px;
    width: 23px;
}

.atom-for .scattered-circles .circle-text img {
    float: left;
    margin-right: 15px;
}

.atom-for .scattered-circles .circle-text h3 {
    font-size: 26px;
    color: #14c9b0;
    margin: 0px;
    margin-top: 0;
    line-height: 1;
    margin-top: -5px;
    vertical-align: middle;
}

.atom-for .scattered-circles .circle-text h3 span {
    font-size: 18px;
    color: #213242;
    display: block;
    margin-top: 5px;
}

/*----------------- scroll icon------------- */
.scroll-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f1fcfa;
}

/*----------------- scroll icon------------- */
.scroll-container {
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid red;
    position: relative;
    overflow: hidden;
}

.scroll-container .mid-container {
    max-width: 1070px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin: auto;
}

.scroll-container article {
    text-align: center;
}

.scroll-container .tile-container {
    padding-top: 60px;
}

.scroll-container .tile-container .tile {
    text-align: center;
}

.scroll-container .mid-container {
    max-width: 1070px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin: auto;
}

.scroll-container .circle-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    clip: rect(auto, 9999px, auto, -9999px);
    pointer-events: none;
}

.scroll-container .circle-wrapper .circle-radius {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    background: #f3f5f9;
    border-radius: 50%;
    left: 50%;
    overflow: hidden;
    top: 0;
    /* transition: all 0.4s ease; */
    width: 50px;
    height: 50px;
}

.add-circle {
    width: 2278.33px;
    height: 2278.33px;
}

.fixer {
    position: fixed;
    top: 82px;
    width: 100%;
}

/* -----------------------------~~~~~~~~ input container~~~~~~~~~~~~~~___________ */
.input-container {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
}

.input-container .mid-container {
    max-width: 870px;
    margin: auto;
    position: relative;
    text-align: center;
}

.input-container article h2 {
    font-family: 'sofia-light';
}

.input-container article h2 span {
    display: block;
    color: #13c9b0;
    font-family: 'sofia-bold';
}

.input-container form .input_rounded {
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.wrapper-holder .input-container form .input_rounded {
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.input-container form .input {
    padding: 21px 25px 21px 25px;
    height: 60px;
    width: 100%;
    font: 400 15px/1.618em Asap, Arial, Sans-Serif;
    letter-spacing: .2px;
    background: transparent;
    background-position: -20px 22px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #D5DBE6;
    color: #252a37;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-appearance: none;

}

.input-container:focus, .input-container:active, .wrapper-holder .input-container form .input_rounded:active, .wrapper-holder .input-container form .input_rounded:focus {
    outline: 0;
}

.input-container form input[type="submit"] {
    min-width: 220px;
    position: absolute;
    top: 0;
    right: 0;
}

.input-container .button-blue {
    background: #14c9b0;
    color: white;
    font-family: 'sofia-medium';
}

.input-container .get_our_media_kit-center form {
    position: relative;
    margin: auto;
    width: 540px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input-container .button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 12px 36px;
    height: 40px;
    border: none;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

.input-container .button_big {
    padding: 22px 40px;
    height: 60px;
}

.input-container .media_kit-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.input-container .fom-container {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}

.input-container form {
    position: relative;
    margin: auto;
    width: 540px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input-container form input:focus ~ .media_kit-bg #obj_1 {
    -webkit-transform: translate(40px, -45px) rotate(360deg);
    -ms-transform: translate(40px, -45px) rotate(360deg);
    transform: translate(40px, -45px) rotate(360deg);
}

.input-container form input:focus ~ .media_kit-bg #obj_2 {
    -webkit-transform: translate(410px, 50px) rotate(360deg);
    -ms-transform: translate(410px, 50px) rotate(360deg);
    transform: translate(410px, 50px) rotate(360deg);
}

.input-container form input:focus ~ .media_kit-bg #obj_3 {
    -webkit-transform: translate(-450px, 45px) rotate(360deg);
    -ms-transform: translate(-450px, 45px) rotate(360deg);
    transform: translate(-450px, 45px) rotate(360deg);
}

.input-container form input:focus ~ .media_kit-bg #obj_4 {
    -webkit-transform: translate(300px, 50px);
    -ms-transform: translate(300px, 50px);
    transform: translate(300px, 50px);
}

.input-container form input:focus ~ .media_kit-bg #obj_5 {
    -webkit-transform: translate(-40px, 15px);
    -ms-transform: translate(-40px, 15px);
    transform: translate(-40px, 15px);
}

.input-container form input:focus ~ .media_kit-bg #obj_6 {
    -webkit-transform: translate(-290px, 50px);
    -ms-transform: translate(-290px, 50px);
    transform: translate(-290px, 50px);
}

.input-container form input:focus ~ .media_kit-bg #obj_7 {
    -webkit-transform: translate(280px, 30px);
    -ms-transform: translate(280px, 30px);
    transform: translate(280px, 30px);
}

.input-container form input:focus ~ .media_kit-bg #obj_8 {
    -webkit-transform: translate(300px, 10px);
    -ms-transform: translate(300px, 10px);
    transform: translate(300px, 10px);
}

.input-container form input:focus ~ .media_kit-bg #obj_9 {
    -webkit-transform: translate(-40px, 0px);
    -ms-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px);
}

.input-container form input:focus ~ .media_kit-bg #obj_10 {
    -webkit-transform: translate(-180px, 50px);
    -ms-transform: translate(-180px, 50px);
    transform: translate(-180px, 50px);
}

.input-container .media_kit-bg * {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

/* -----------------------------~~~~~~~~ input container~~~~~~~~~~~~~~___________ */

.slider-partial-container {
}

.slider-partial-container {
    position: relative;
    padding-top: 150px;
}

.slider-partial-container article {
    max-width: 580px;
    margin: auto;
    text-align: center;
    z-index: 3;
    position: relative;
}

.slider-partial-container .heading {
    font-weight: bold;
    font-family: 'sofia-bold';
    color: white;
}

.slider-partial-container .img-container {
    text-align: center;
}

.slider-partial-container .img-container img {
    margin: auto;
    position: relative;
    z-index: 3;
}

.slider-partial-container .bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#027eac+0,099eae+50,17d7b1+100 */
    background: #027eac; /* Old browsers */
    background: -moz-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #027eac 0%, #099eae 50%, #17d7b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027eac', endColorstr='#17d7b1', GradientType=1); /* IE6-9 */
    top: 0;
}

/*----------------- Atom Footer------------- */
.footer {
    padding: 80px 0px 0px;
    background-color: #f9f9f9;
    background-image: url('../images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.footer .mid-container {
    max-width: 1190px;
    margin: 0 auto;
}

.footer p.description {
    font-family: "sofia-light";
    color: #7c7c7c;
    font-size: 18px;
    position: relative;
    margin-top: 60px;
    margin-bottom: 40px;
}

.footer p.description:before {
    content: '';
    position: absolute;
    background-color: #d4d4d4;
    top: -30px;
    left: 0;
    height: 1px;
    width: 137px;
}

.footer ul.social {
    margin-top: 40px;
    margin-bottom: 140px;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

.footer ul.social li {
    display: inline-block;
    margin-right: 30px;
}

.footer ul.social li a {
    color: #bfbfbf;
    font-size: 25px;
    text-decoration: none;
    position: relative;
}

.footer ul.social li a:hover.fa-facebook {
    color: #3b5998;
}

.footer ul.social li a:hover.fa-twitter {
    color: #1DA1F2;
}

.footer ul.social li a:hover.fa-google-plus {
    color: #DC4A38;
}

.footer ul.social li a:hover.fa-youtube {
    color: #EE1C1B;
}

.footer ul.social li a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 220%);
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "sofia-light";
    white-space: nowrap;
    opacity: 0;
    transition: all 0.5s ease;
}

.footer ul.social li a:hover span {
    opacity: 1;
    transform: translate(-50%, 160%);
}

.footer ul.footer-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: inline-block;
}

.footer ul.footer-list > li {
    margin-bottom: 45px;
    position: relative;
    cursor: pointer;
}

.footer ul.footer-list > li > a {
    font-size: 24px;
    color: #7c7c7c;
    font-family: "sofia-light";
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer ul.footer-list > li > a:hover {
    color: #14c9b0;
}

.footer ul.footer-list > li.active > a {
    color: #14c9b0;
}

.footer ul.footer-list > li > a > i {
    margin-right: 10px;
    width: 30px;
}

.footer ul.footer-list > li > .footer-list-container {
    position: absolute;
    left: 140%;
    top: -50px;
    background-color: #fff;
    padding: 35px;
    min-width: 368px;
    border-radius: 10px;
    opacity: 0;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    transition: all 0.9s ease;
}

.footer ul.footer-list > li > .footer-list-container:after {
    content: '';
    position: absolute;
    left: -21px;
    top: 60px;
    background-image: url(../images/arrow-shaded.png);
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
}

.footer ul.footer-list > li.product > .footer-list-container {

}

.footer ul.footer-list > li.product > .footer-list-container:after {
    top: 60px;
}

.footer ul.footer-list > li.feature > .footer-list-container {

}

.footer ul.footer-list > li.feature > .footer-list-container:after {
    top: 60px;
}

.footer ul.footer-list > li.company > .footer-list-container {
    top: -100px;
}

.footer ul.footer-list > li.company > .footer-list-container:after {
    top: 110px;
}

.footer ul.footer-list > li.support > .footer-list-container {
    top: -100px;
}

.footer ul.footer-list > li.support > .footer-list-container:after {
    top: 106px;
}

.footer ul.footer-list > li.active > .footer-list-container {
    opacity: 1;
}

.footer-list-container ul.inner-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.footer-list-container ul.inner-list li {
    margin-bottom: 15px;
}

.footer-list-container ul.inner-list li a {
    font-family: "sofia-light";
    color: #7c7c7c;
    font-size: 18px;
}

.footer-list-container i {
    font-size: 40px;
    background: -webkit-linear-gradient(#099aae, #13c5af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #14c9b0;
    margin-bottom: 25px;
}

/*----------------- View Ports ------------- */
@media (max-width: 991px) {
    ul.dropdown-menu.atom-menu {
        padding: 40px 20px;
        width: 600px;
        left: -165%;
    }

    ul.dropdown-menu.atom-menu li.menu-item a {
        font-size: 18px;
    }

    ul.dropdown-menu.atom-menu li.menu-btn a {
        font-size: 18px;
    }

    .navbar-brand {
        width: 146px;
        overflow: hidden;
    }

    .navbar-brand img.img-responsive {
        max-width: inherit;
    }
}

@media (max-width: 767px) {

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-inverse .navbar-toggle {
        border-color: transparent;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background: #027eac;
        background: -moz-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%);
        background: -webkit-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%);
        background: linear-gradient(to right, #027eac 0%, #099eae 50%, #17d7b1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027eac', endColorstr='#17d7b1', GradientType=1);
        /*border: 1px solid #14c9b0;*/
        text-align: center;
        border-color: #fff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        font-size: 16px;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #fff;
    }

    .navbar-nav .open .dropdown-menu {
        width: auto;
        padding: 10px;
        left: 0;
        transform: translate(0%, 0%);
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    ul.dropdown-menu.atom-menu li.menu-item a:after {
        content: none;
    }

    ul.dropdown-menu.atom-menu li.menu-item {
        display: inline-block;
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    ul.dropdown-menu.atom-menu li.menu-item img {
        background-image: url(../images/menuSpriteWhite.png);
        height: 35px;
        margin: 0 auto;
    }

    ul.dropdown-menu.atom-menu li.menu-item img.isp {
        background-position: 0px 4px;
        width: 38px;
    }

    ul.dropdown-menu.atom-menu li.menu-item img.hmo {
        background-position: -45px 0px;
        width: 36px
    }

    ul.dropdown-menu.atom-menu li.menu-item img.msp {
        background-position: 34px 1px;
        width: 34px;
    }

    ul.dropdown-menu.atom-menu li.menu-item a {
        font-size: 16px;
        margin-top: 10px;
    }

    ul.dropdown-menu.atom-menu li.menu-btn a {
        border-color: #fff;
    }

    ul.dropdown-menu.atom-menu:after {
        content: none;
    }

    header {
        background: #027eac;
        background: -moz-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%);
        background: -webkit-linear-gradient(left, #027eac 0%, #099eae 50%, #17d7b1 100%);
        background: linear-gradient(to right, #027eac 0%, #099eae 50%, #17d7b1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#027eac', endColorstr='#17d7b1', GradientType=1);
    }

}
